#create{
    display: grid;
    align-items: center;
    margin-top:10rem;
}
#genero , #lançamento, #pais , #nota, #sinopse, #imagem{
    margin-top: 3rem;
    align-items: center;
}

#create  h2{
    color:var(--blue);
}

#image {
    border: none;
    margin-left: -1.6rem;
    
}
textarea {
    resize:none !important;
    height: 10rem !important;
    width: 30rem;
}
input, textarea {
    border: .1rem solid var(--blue);
    padding: 0 1.6rem;
    border-radius: 0.6rem;
    height: 3rem;
    outline: none;
    word-break: break-word;
}